wordpressUsername: ${wp_username}
wordpressPassword: ${wp_password}
wordpressConfigureCache: true

mariadb:
  enabled: true
  architecture: standalone
  primary:
    resourcesPreset: large
    persistence:
      storageClass: csi-disk
      size: 10Gi
      enabled: true

memcached:
    enabled: true
    resourcesPreset: medium


persistence:
  storageClass: csi-disk
  size: 10Gi
  enabled: true


service:
  annotations:
    kubernetes.io/elb.id: ${elb_id}

readinessProbe:
    enabled: true

autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 50